@use 'media-querie-320';
@use 'media-querie-481';
@use 'media-querie-768';
@use 'media-querie-951';
@use 'media-querie-1025';
@use 'media-querie-1200';

// Colors
$primary-dark-violet: hsl(256, 26%, 20%);
$primary-grayish-blue: hsl(216, 30%, 68%);
$neutral-very-dark-violet: hsl(270, 9%, 17%);
$neutral-dark-grayish-violet: hsl(273, 4%, 51%);
$neutral-very-light-gray: hsl(0, 0%, 98%);

.Nav-bar {
    background-color: $neutral-very-light-gray;
    overflow: hidden;
    text-transform: uppercase;
  
    #navItem {
        text-decoration: none;
        text-align: center;
    }

    button {
        text-transform: uppercase;
    }
}

#navItem:nth-child(6) {
    display: none;
}

body {
    margin: 0;
    background-color: $neutral-very-light-gray;
    font-family: 'Karla', sans-serif;
    // color: $neutral-very-light-gray;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

.Humanizing {
    display: grid;
    background-color: $primary-dark-violet;
    color: $neutral-very-light-gray;

    #topLine {
        color: $neutral-very-light-gray;
    }
        
    .Humanizing-text{
        background-repeat: no-repeat;
        
        h1 {
            font-size: 250%;
        }
        
        p {
            font-weight:300;
        }
    }
    
    .Bottom {
        height: 340px;
        background-color: $primary-dark-violet;
        background-repeat: no-repeat;
        
        .Button {
            background-color: $primary-dark-violet;
            color: $neutral-very-light-gray;
            text-transform: uppercase;
            border: 1px solid $neutral-very-light-gray;
        }
        
        .Button:hover {
            background-color: $neutral-very-light-gray;
            color: $primary-dark-violet;
            font-weight: bolder;
        }  
        
        #line {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 0.5px solid $neutral-very-light-gray;
        }

    }   
}

.Different {
    margin: 0% 7%;
    color: $neutral-dark-grayish-violet;

    h1 {
        font-size: 280%;
        margin-top: 0%;
        padding-bottom: 7%;
    }

    h2 {
        font-size: 160%;
        padding-top: 5%;
    }

    h1, h2 {
        color: $primary-dark-violet;
    }

    p {
        line-height: 25px;
    }
}

.Find-out {
    background-color: $primary-dark-violet;
    color: $neutral-very-light-gray;
    line-height: 40px;
    background-repeat: no-repeat;

    .Button {
        background-color: $primary-dark-violet;
        color: $neutral-very-light-gray;
        text-transform: uppercase;
        border: 1px solid $neutral-very-light-gray;
    }

    .Button:hover {
        background-color: $neutral-very-light-gray;
        color: $primary-dark-violet;
        font-weight: bolder;
    }
}

.Footer-head {
    text-align: center;
    line-height: 55px;
    background-color: hsl(0, 0%, 95%);
    background-repeat: no-repeat;

    .Icons {
        word-spacing: 10px;
    }
}

.Site-links {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    background-color: hsl(0, 0%, 95%);

    p:first-child {
        color: $neutral-dark-grayish-violet;
        padding: 6% 0%;
    }
}

.Coded-by {
    font-size: xx-small;
    text-align: center;
    color: $neutral-dark-grayish-violet;
    background-color: hsl(0, 0%, 95%);
}